.table-filters-row {
  /* background-color: #060b26; */
  /* background-color: #3f51b5; */
  /* background-color: #3f51b5; */
  /* height: 80px; */
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.table-filters-left {
  display:flex; 
  flex-direction: row;
  /* border: solid 6px; */
  justify-content: 'flex-start';
  /* flex-wrap:wrap; */
  width: 50%;

}


.table-filters-right {
  display:flex; 
  /* flex-direction: row; */
  /* align-items: flex-end; */
  justify-content: flex-end;
  
  /* border: solid 6px; */
  width:50%;
}

